:root {
  --footer-bg: lightblue; /* Azul mais profissional */
  --footer-text: #f0f0f0;
  --footer-border: #afd6eb;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  padding: 10px;
  background-color: var(--footer-bg);
  color: var(--footer-text);
  
  border-top: 2px solid var(--footer-border);
  font-size: 12px;
  text-align: center;
  user-select: none;
}

/* Tablet */
@media (min-width: 768px) {
  .footer {
    padding: 12px;
    font-size: 14px;
  }
}

/* Desktop */
@media (min-width: 1200px) {
  .footer {
    padding: 16px;
    font-size: 16px;
  }
}
