/* NavbarBtn.css */
.navbar-btn {
    padding: 6px 10px;
    font-size: small;
    margin-right: 8px;
    border: none;
    border-radius: 8px;
    background-color:none;
    color: #f0f0f0;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.navbar-btn:hover {
    background-color: #3b64a6;
    color: #ffffff;
    transform: translateY(-2px);
}

.navbar-btn:active {
    transform: scale(0.95);
}

/* Tablets */
@media (min-width: 768px) {
    .navbar-btn {
        padding: 7px 12px;
        font-size: medium;
        margin-right: 15px;
    }
}

/* Desktops */
@media (min-width: 1200px) {
    .navbar-btn {
        padding: 10px 16px;
        font-size: large;
        margin-right: 20px;
    }
}
